@import "./base.scss";

.coollink {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: currentColor;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.4s cubic-bezier(0.5,0.5,0.3,0.1);
    }

    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        height: 100%;
        transform: translate3d(150%, 0, 0); /* Corrigido aqui */
        transition: transform 0.4s cubic-bezier(0.5,0.5,0.3,0.1);
    }
    & span{
        transition: transform 0.4s cubic-bezier(0.5,0.5,0.3,0.1);
    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
    }
    &:hover span{
        transform: translate3d(-150%, 0, 0);
    }
  
}

.coolbutton{
    position: relative;
    border: none;
    cursor: pointer;
    width: 175px;
    height: 120px;
    background: none;
    
    font-size: 18px;
    font-weight: 700;
    &:before,
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before{
        content: "";
        background: $blue-ground;
        clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
        transition: clip-path 0.5s cubic-bezier(0.455, 2.5, 0.645, 0.55);
    }
    &:hover:before{
        
        
        clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
    }
    & span {
        mix-blend-mode: difference;
        color: $green-color;
        
    }
    &:after{
        content: "";
        height: 85%;
        width: 95%;
        top: 6px;
        border: 1px solid $green-color;
        border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
        transform: rotate(-20deg);
        transition: transform 0.5s cubic-bezier(0.455, 2.5, 0.645, 0.55);
    }
    &:hover:after{
        transform: translate3d(0, -5px, 0);
    }
    @media (max-width: 800px){
        &{
            transform: scale3d(0.7,0.7,0.7);
            font-size: 23px;
        }
    }
}

.uil{
    font-size: 35px;
    text-shadow: -10px -20px $black-color;
    &:hover{
        animation: coloredAnimation 0.005s infinite;
    }
    
    @keyframes coloredAnimation {
        0%{
            text-shadow: 5px 4px $green-color,5px 4px $black-color;
        }
        25%{
            text-shadow: -5px -6px $green-color,-5px -6px $black-color;
        }
        50%{
            text-shadow: 5px -4px $green-color,5px -4px $black-color;
        }
        75%{
            text-shadow: -8px -4px $green-color,-5px -4px $black-color;
        }
        100%{
            text-shadow: -5px 0px $green-color,5px -6px $black-color;
        }
        
    }
}
.coolEye{
    position: relative;
    display: inline-block;
    top: 100px;
    .textcircle{
        display: block;
        width: 250px;
        animation: roatte 10s linear infinite;
        text{
            font-size: 32px;
            text-transform: uppercase;
            fill: $green-color;
        }
    }
    @keyframes roatte {
        to{
            transform: rotate(-360deg);
        }
    }
}
.eye{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__outer,&__inner,&__lashes-up,&__lashes-down{
        stroke: $green-color;
        fill: none;
        stroke-width: 1.5px;
    }
    &__lashes-down{
        opacity: 0;
    }
}