@import '../styles/base.scss';
@import '../styles/coolinks.scss';
.certificates{
    font-family: 'File Deletion', sans-serif;
    color: $green-color;
    &__header{
        font-family: 'File Deletion', sans-serif;
        font-size: 60px;
        font-style: italic;
        padding-bottom: 100px;
        border-top: 1px solid $green-color;

    }
}

.certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 800;

}
.certificate__link{
    font-size: 20px;
    
    width: calc(20% - 10px); // 20% para 5 colunas, subtraindo a margem
    margin: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;

    &:hover{
        animation: coloredAnimation 0.005s infinite;
    }
    @media screen and (max-width: 768px){
        font-size: 15px;
    }
}

